bin/
obj/
TestResults/
*.suo
*.user
ZedSharp/Natural.cs
ZedSharp/Table.cs
ZedSharp/Tuples.cs
ZedSharp/Dictionary.cs
ZedSharp/MultiMethod.cs
ZedSharp/GenericMethod.cs
ZedSharp/Match.cs
ZedSharp/Bag.cs
