bin/
obj/
TestResults/
packages/
*.suo
*.user
KitchenSink/Natural.cs
KitchenSink/Table.cs
KitchenSink/Tuples.cs
KitchenSink/Dictionary.cs
KitchenSink/MultiMethod.cs
KitchenSink/GenericMethod.cs
KitchenSink/Match.cs
KitchenSink/Bag.cs
